



*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
   
}

body  {
    margin: 10px;
    padding: 0px;
    font-family: 'open sans',sans-serif;

}
.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;

}
.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #364f6b;

}
.menu {
    float: right;

}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;


}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
nav ul li {
    float: left;

}
nav ul li a {
    color:black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;

}
nav ul li a:hover {
    text-decoration: underline;

}

section {
    margin: auto;
    display:flex;
    margin-bottom: 50px;

}
.kolom {
    margin-top: 50px;
    margin-bottom: 50px;

}
.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;

}
h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 40px;
    color: #364f6b;
    width: 100px;
    line-height: 50px;

}

a.tbl-biru {

    background: #0a50a5;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #fdfbfb;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;

}

a.tbl-pink {
    background: -webkit-linear-gradient(right,#3498db,#a86fbe);
    font-family: "raleway semibold",sans-serif;
    border-radius: 30px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;

}  